.sideBar {
    flex: 2.5;
    overflow-y: scroll;
    top: 50px;
}

.sbWrapper {
    padding: 15px;
}

.sbList {
    list-style: none;
}

.sbItems {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.sbItemImage {
    height: 30px;
    width: 30px;
}

.sbItemText {
    margin-left: 15px;
}

.followingList {
    padding: 0;
    margin: 0;
    list-style: none;
}

.followingStatus {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.followingContainer {
    margin-right: 10px;
}

.followingAvatar {
    height: 40px;
    width: 40px;
}

.lineSep {
    margin-bottom: 15px;
    margin-right: 250px;
}

.FollowingName {
    margin-left: 50px;
    margin-top: -33px;
    
}

.followingTitle {
    margin-bottom: 15px;
}