.NavContainer {
    height: 75px;
    width: 100%;
    background-color: #202327;
    display: flex;
    position: sticky;
    align-items: center;
    top: 0;
}

.leftPart {
    flex: 4;
}

.centerPart {
    flex: 3;
}

.vl {
    border-left: 1px solid #202327;
    height: 2000px;
    margin-left: -233px;
  }

.vl2 {
    border-left: 1px solid #202327;
    border-right: 1px solid #202327;
    height: 2000px;
    margin-left: -233px;
    margin-right: -42px;
  }

.rightPart {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.searchBox {
    width: 400px;
    height: 30px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
}

.searchInput {
    border: none;
    width: 70%;
    margin-left: 20px;
}

.searchInput:focus {
    outline: none;
}

.logo {
    font-size: 30px;
    margin-left: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.NavAvatar {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.friend {
    width: 40px;
    height: 50px;
    cursor: pointer;
    color: white;
}

.chat {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.notifications {
    width: 50px;
    height: 50px;
    cursor: pointer;
}